*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#03050d;
    color:white;
    overflow:hidden;
}

#space{
    position:fixed;
    inset:0;
    z-index:-1;
}

nav{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 100px;
}

.logo{
    font-size:42px;
    font-weight:900;
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
    gap:40px;
}

nav li{
    color:#c8d0e0;
    cursor:pointer;
}

.hero{
    height:85vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-left:100px;
}

.small{
    color:#3f8cff;
    font-weight:bold;
    letter-spacing:5px;
    margin-bottom:20px;
}

.hero h1{
    font-size:110px;
    line-height:.9;
    font-weight:900;
}

.hero span{
    color:#3f8cff;
}

.hero p{
    font-size:24px;
    color:#9fa8ba;
    width:650px;
    margin-top:30px;
    line-height:1.5;
}

.buttons{
    margin-top:45px;
}

.buttons a{
    display:inline-block;
    text-decoration:none;
    padding:18px 42px;
    margin-right:20px;
    border-radius:8px;
    font-weight:bold;
}

.buttons a:first-child{
    background:#3f8cff;
    color:white;
}

.buttons a:last-child{
    border:2px solid #3f8cff;
    color:white;
}
